# Ignore target directory (compiled classes and JARs)
target/

# Ignore dependency caches
**/dependency-reduced-pom.xml
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties

# Ignore IDE-specific files
# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Ignore build-related files
mvnw
mvnw.cmd

# Logs and temp files
*.log
hs_err_pid*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled Java files
**/*.class

# Ignore packaged JARs and WARs
*.jar
*.war
*.ear

# Ignore environment and configuration files
.env
*.yml
*.yaml

# add this after first commit
# *.properties
