<div th:fragment="footer">
    <div class="fixed-bottom bg-dark text-white py-3" id="footer-container">
        <div class="d-flex justify-content-between">
            <span id="userCount" class="px-3"></span>
            
            <div class="d-flex">
                <span id="version" class="px-3"></span>
                <span class="px-3"> | </span>
                <span id="lastUpdate" class="px-3"></span>
            </div>
        </div>
    </div>
    <input type="hidden" id="userRole">
    <input type="hidden" id="userAuthentication">
</div>