h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid orange;
    margin-bottom: 100px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#cardContainer {
    border: solid orange;
    padding: 50px;
}

.teacherCard {
    border: solid black;
    padding: 10px;
}