h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid #e9ca75;
    border-radius: 12px;
    margin-bottom: 100px;
    background-color: #bfd9da;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#cardContainer {
    border: 5px solid #e9ca75;
    border-radius: 12px;
    padding: 50px;
    background-color: #bfd9da;
}

.card {
    border: solid black;
    padding: 10px;
    width: 100%;
    background-color: #e9ca75;
}