#player {
    height: 0;
    width: 0;
    position: absolute;
    border: none;
}
#playButton {
    margin: 10px;
    height: 50px;
    width: 50px;
}
#volume {
    margin: 10px;
}
.form-range::-webkit-slider-runnable-track {
    background-color: #cccccc;
}
  
.form-range::-webkit-slider-thumb {
    background-color: #333333;
}
.btn-info {
    background-color: #070b8a;
    border-color: #070b8a;
}
    
.fa-play, .fa-pause {
    color: white;
    display: inline;
}