<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <div th:replace="~{fragments/styles :: styles}"></div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script src="../static/js/administratorDashboard.js"></script>

</head>
<body>
    <div th:replace="~{fragments/administratorNavbar :: navbar}"></div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Manage Bug Reports</h2>
            </div>
        </div>
    </div>

    <div class="card mx-auto col-md-11 border-0">
        <div class="col mt-2">
            <table id="reportTable" class="datatable-simple display responive table table-striped table-sm w-100 dataTable no-footer dtr-inline">
                <caption class="d-none">Report Table</caption>
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th title="Date" scope="col">Report Date</th>
                        <th title="Rfn" scope="col">Name</th>
                        <th title="Led" scope="col">Last Edited</th>
                        <th title="Sts" scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class="table-bordered p-0"></tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Report Details</h5>
                    <table>
                        <tr>
                            <th scope="row" class="p-0">Report Date:</th>
                            <td id="initialDate"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="p-0">Name:</th>
                            <td id="name"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="p-0">Name:</th>
                            <td id="name"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>