<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>TeacherList</title>

    <div th:replace="~{fragments/styles :: styles}"></div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script src="../../static/js/moderatorTeacherlistView.js"></script>

</head>
<body>
    <div th:replace="~{fragments/moderatorNavbar :: navbar}"></div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Teacher List</h2><br>
            </div>
        </div>
    </div>
    
    <div class="card mx-auto col-md-11 border-0 bg-light">
        <div class="row">
            <div class="col-12 text-start">
                <button id="addTeacherBtn" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#addTeacherModal">Add Teacher</button>
            </div>
        </div>
        <div class="col mt-2">
            <table id="teacherTable" class="datatable-simple display responive table table-striped table-sm w-100 dataTable no-footer dtr-inline">
                <caption class="d-none">Teacher List Details</caption>
                <thead>
                    <tr>
                        <th title="Cid" scope="col">Teacher ID</th>
                        <th title="Cln" scope="col">First Name</th>
                        <th title="Sct" scope="col">Last Name</th>
                        <th title="Eml" scope="col">Email Address</th>
                        <th title="Actions" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-bordered p-0"></tbody>
            </table>
        </div>
    </div>    

    <!--Add Teacher-->
    <div class="modal fade" id="addTeacherModal" tabindex="-1" aria-labelledby="addTeacherModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTeacherModalLabel">Add Teacher</h5>
                    <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--Search-->
                    <input type="text" id="findTeacher" class="form-control mb-3" placeholder="Search by email">
                    
                    <!--Results-->
                    <ul id="searchResults" class="list-group">
                        <!--Eventually dynamic-->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="confirmTeacherBtn">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!--Remove Button-->
    <div class="modal fade" id="removeConfirmation" tableindex="-1" aria-labelledby="removeConfirmationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeConfirmationLabel">Confirm Removal</h5>
                    <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this teacher?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="removeConfirmationButton">Remove</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>