<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>

    <div th:replace="~{fragments/styles :: styles}"></div>
    <link rel="stylesheet" href="../../static/css/quiz.css">

    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script src="../../static/js/quiz.js"></script>

</head>
<body>
    <div th:replace="~{fragments/studentNavbar :: navbar}"></div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Playlist1 Quiz</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div th:replace="~{fragments/youtubePlayer :: youtubePlayer}"></div>
            </div>
            <div class="col-md-6"
                <form>
                    <div class="form-group">
                        <label for="songName"><b>Song Name</b></label>
                        <input type="text" class="form-control" id="songName">
                    </div>
                    <div class="form-group">
                        <label for="composer"><b>Composer</b></label>
                        <input type="text" class="form-control" id="composer">
                    </div>
                    <div class="form-group">
                        <label for="year"><b>Year</b></label>
                        <input type="text" class="form-control" id="year">
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Submit Answer</button>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>