<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Set Quiz</title>

    <div th:replace="~{fragments/styles :: styles}"></div>
    <link rel="stylesheet" href="../../static/css/setQuiz.css">

    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script src="../../static/js/setQuiz.js"></script>

</head>
<body>
    <div th:replace="~{fragments/studentNavbar :: navbar}"></div>
    <div class="container mt-5">
        <div class="card shadow p-4">
            <h3 class="mb-4">Quiz Preferences</h3>
            <form id="quizSettings">
                <div class="mb-3">
                    <label for="playlist" class="form-label">Playlist</label>
                    <select class="form-select" id="playlist" name="playlist" required>
                        <option selected>Choose a playlist...</option>
                        <option value="1">Playlist 1</option>
                        <option value="2">Playlist 2</option>
                        <option value="3">Playlist 3</option>
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="playbackMethod" class="form-label">Playback Method</label>
                    <select class="form-select" id="playbackMethod" name="playbackMethod" required>
                        <option selected>Choose a playback method...</option>
                        <option value="1">Random</option>
                        <option value="2">Most Replayed</option>                        
                        <option value="3">Teacher TimeStamp</option>
                    </select>
                </div>                
                <div class="mb-3">
                    <label for="playbackDuration" class="form-label">Playback Duration (seconds)</label>
                    <input type="range" class="form-range" id="playbackDuration" name="playbackDuration" min="60" max="90" step="1" value="60" oninput="durationValue.value = playbackDuration.value">
                    <input type="number" class="form-control mt-2" id="durationValue" min="60" max="90" step="1" value="60" oninput="playbackDuration.value = durationValue.value" required>
                </div>                
                <div class="mb-3">
                    <label for="numQuestions" class="form-label">Number of Questions</label>
                    <input type="number" class="form-control" name="numQuestions" id="numQuestions" placeholder="Enter number of questions" min="1" required>
                </div>
                
                <button id="setButton" type="submit" class="btn btn-primary">Take Quiz</button>
            </form>
        </div>
    </div>
    
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>