<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <div th:replace="~{fragments/styles :: styles}"></div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <link rel="stylesheet" href="../static/css/studentDashboard.css">
    <script src="../static/js/dashboard.js"></script>

</head>
<body>
    <div th:replace="~{fragments/studentNavbar :: navbar}"></div>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center">Welcome to Listening Study</h1>
                </div>
           </div>
           <div>
                <h2>Main Links:</h2>
           </div>
        </div>   
        
        <div class="container mt-5 card-container" id="cardContainer">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <div class="studentCard" style="width: 100%;" id="performanceCard"> 
                        <div class="card-body">
                            <h5 class="card-title">Performance</h5>
                            <p class="card-text">View your performance.</p>
                            <a href="/student/performance" class="btn btn-primary">Open</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="studentCard" style="width: 100%;" id="quizCard"> 
                        <div class="card-body">
                            <h5 class="card-title">Quizzes</h5>
                            <p class="card-text">Design and take quizzes.</p>
                            <a href="/student/setQuiz" class="btn btn-primary">Open</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="studentCard" style="width: 100%;" id="playlistsCard"> 
                        <div class="card-body">
                            <h5 class="card-title">Playlists</h5>
                            <p class="card-text">View playlists and preview songs.</p>
                            <a href="/student/playlists" class="btn btn-primary">Open</a>
                        </div>
                    </div>
                </div>
            </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>