<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Classical 1</title>

    <div th:replace="~{fragments/styles :: styles}"></div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script src="../../static/js/components/youtubePlayer.js"></script>
    <script src="../../static/js/viewPlaylist.js"></script>

</head>
<body>
    <div th:replace="~{fragments/studentNavbar :: navbar}"></div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Classical 1</h2>
            </div>
        </div>
    </div>

    <div class="card mx-auto col-md-11 border-0">
        <div class="col mt-2">
            <table id="songTable" class="datatable-simple display responive table table-striped table-sm w-100 dataTable no-footer dtr-inline">
                <caption class="d-none">Song Table</caption>
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                        <th title="name" scope="col">Name</th>
                        <th title="class" scope="col">Composer</th>
                        <th title="year" scope="col">Year</th>
                        <th title="year" scope="col">URL</th>
                    </tr>
                </thead>
                <tbody class="table-bordered p-0"></tbody>
                <button class="btn btn-primary navbar-btn" onclick="addSong()">Add Song</button>
            </table>
        </div>
    </div>

    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Preview Song</h5>
                    <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                            <tr class="mb-3">
                                <th scope="row" class="p-0 py-2">Name:</th>
                                <td class="py-2" id="name"></td>
                            </tr>
                            <tr class="mb-3">
                                <th scope="row" class="p-0 py-2">Composer:</th>
                                <td class="py-2" id="composer"></td>
                            </tr>
                            <tr class="mb-3">
                                <th scope="row" class="p-0 py-2">Year:</th>
                                <td class="py-2" id="year"></td>
                            </tr>
                            <tr class="mb-3">
                                <th scope="row" class="p-0 py-2">URL:</th>
                                <td class="py-2" id="url"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="~{fragments/youtubePlayer :: youtubePlayer}"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary mr-auto" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>