<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Classical 1</title>

    <div th:replace="~{fragments/styles :: styles}"></div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script src="../../static/js/components/youtubePlayer.js"></script>
    <script src="../../static/js/viewPlaylist.js"></script>

</head>
<body>
    <div th:replace="~{fragments/teacherNavbar :: navbar}"></div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Classical 1</h2>
            </div>
        </div>
    </div>

    <div class="card mx-auto col-md-11 border-0">
        <div class="col mt-2">
            <table id="songTable" class="datatable-simple display responive table table-striped table-sm w-100 dataTable no-footer dtr-inline">
                <caption class="d-none">Song Table</caption>
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                        <th title="name" scope="col">Name</th>
                        <th title="composer" scope="col">Composer</th>
                        <th title="year" scope="col">Year</th>
                        <th title="url" scope="col">URL</th>
                    </tr>
                </thead>
                <tbody class="table-bordered p-0"></tbody>
                <button id="addSongBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSongModal">Add Song</button>
            </table>
        </div>
    </div>

    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Preview Song</h5>
                    <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                            <tr class="mb-3">
                                <th scope="row" class="p-0 py-2">Name:</th>
                                <td class="py-2" id="name"></td>
                            </tr>
                            <tr class="mb-3">
                                <th scope="row" class="p-0 py-2">Composer:</th>
                                <td class="py-2" id="composer"></td>
                            </tr>
                            <tr class="mb-3">
                                <th scope="row" class="p-0 py-2">Year:</th>
                                <td class="py-2" id="year"></td>
                            </tr>
                            <tr class="mb-3">
                                <th scope="row" class="p-0 py-2">URL:</th>
                                <td class="py-2" id="url"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="~{fragments/youtubePlayer :: youtubePlayer}"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary mr-auto" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--Add Song-->
    <div class="modal fade" id="addSongModal" tabindex="-1" aria-labelledby="addSongModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSongModalLabel">Add Class</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--Add Song Name-->
                    <label for="songName" class="form-label">Song Name</label>
                    <input type="text" id="songName" class="form-control mb-3" placeholder="Enter song name" required>

                    <!--Add Song URL-->
                    <label for="songURL" class="form-label">Song URL</label>
                    <input type="text" id="songURL" class="form-control mb-3" placeholder="Enter song url" required>

                    <!--Add Composer-->
                    <label for="composer" class="form-label">Composer</label>
                    <input type="text" id="composer" class="form-control mb-3" placeholder="Enter composer" required>

                    <!--Add Year-->
                    <label for="year" class="form-label">Year</label>
                    <input type="text" id="year" class="form-control mb-3" placeholder="Enter year" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirmSongBtn">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>