<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <div th:replace="~{fragments/styles :: styles}"></div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <link rel="stylesheet" href="../static/css/teacherDashboard.css">

</head>
<body>
    <div th:replace="~{fragments/teacherNavbar :: navbar}"></div>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center">Welcome to Listening Study</h1>
                </div>
           </div>
           <div>
                <h2>Main Links:</h2>
           </div>
        </div>   
        
        <div class="container mt-5 card-container" id="cardContainer">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <div class="teacherCard" style="width: 100%;" id="playlistsCard"> 
                        <div class="card-body">
                            <h5 class="card-title">View Playlists</h5>
                            <p class="card-text">View playlists and preview songs.</p>
                            <a href="/teacher/playlists" class="btn btn-primary">Open</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="teacherCard" style="width: 100%;"> 
                        <div class="card-body">
                            <h5 class="card-title">Create Playlists</h5>
                            <p class="card-text">Create brand new playlists.</p>
                            <a href="/teacher/createPlaylist" class="btn btn-primary">Open</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="teacherCard" style="width: 100%;"> 
                        <div class="card-body">
                            <h5 class="card-title">View Classes</h5>
                            <p class="card-text">View your classes and students.</p>
                            <a href="/teacher/classlist" class="btn btn-primary">Open</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>