<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Player Page</title>

    <div th:replace="~{fragments/styles :: styles}"></div>
    <link rel="stylesheet" href="../../static/css/youtubePlayer.css">

    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="../static/js/youtubePlayer.js"></script>

</head>
<body>
    <h1>YouTube Player Page</h1>
    <div id="playerContainer">
        <div id="player"></div>
        <button id="playButton" class="btn btn-outline-primary">&#9654;</button>
        <div id="volume">
            <label for="volumeRange" class="form-label" id="volumeLabel">&#128266; 50</label>
            <input type="range" class="form-range w-25" id="volumeRange" min="0" max="100">
        </div>
    </div>

    <div th:replace="~{fragments/navbar :: navbar}"></div>
</body>
</html>